.aiRecoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.aiRecommendTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.bottomWrapper {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 35px 35px 0 0;
}
.aiRecoList {
  width: 25rem;
}
.textWrapper * {
  font-size: 24px;
  margin: 0.3rem;
  font-family: "Jalnan";
}
.textTop {
  padding-top: 1.5rem;
  color: #ef776a;
}
.textBottom {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
@font-face {
  font-family: "Jalnan";
  src: url("/font/Jalnan.ttf") format("truetype");
  font-display: swap;
}
.textWrapper {
  font-size: 24px;
}
.aiRecoItem {
  background: #fdfdfd;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 1px 14px;
  border: 1px solid #e8e8e8;
  margin-bottom: 1rem;
}

.recoArrow {
  font-size: 25px;
  color: #1e1e1e;
  margin-left: 0px;
  align-self: center;
}
