.recoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aiRecommendTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.textWrapper {
  margin-top: 0.5rem;
  font-size: 24px;
}
.textTop {
  color: #ef776a;
}
@font-face {
  font-family: "Jalnan";
  src: url("/font/Jalnan.ttf") format("truetype");
  font-display: swap;
}
.textWrapper {
  font-size: 24px;
}
.recoItem {
  background: #fdfdfd;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 1px 14px;
  border: 1px solid #e8e8e8;
}

.recoArrow {
  font-size: 25px;
  color: #1e1e1e;
  margin-left: 0px;
  align-self: center;
}
