.roulette-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.wheelWrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointerIcon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 72px;
  z-index: 1;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 14px solid #f96538;
  position: relative;
  transition: transform 4s ease-out;
  transform: rotate(0deg);
  background-color: #fff8f0;
  box-shadow: 0 0 10px #f96538;
  overflow: hidden;
}

.startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f96538;
  color: white;
  font-weight: bold;
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 0 0 10px #ffb9a4;
  font-size: 13px;
  z-index: 5;
}

.sector {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  text-align: center;
  padding-top: 20px;
}

.sector img {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0px 10px;
  transform: rotate(135deg);
  padding-bottom: 15px;
}

.sector span {
  font-size: 24px;
  font-family: "BM JUA", sans-serif;
  display: inline-block;
  transform: rotate(135deg);
}

@font-face {
  font-family: "BM JUA";
  src: url("/font/BMEuljiro.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.sector-0 {
  transform: rotate(0deg);
  background: #ffb9a4;
}
.sector-1 {
  transform: rotate(90deg);
}
.sector-2 {
  transform: rotate(180deg);
  background: #ffb9a4;
}
.sector-3 {
  transform: rotate(270deg);
}
.wheel::before,
.wheel::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 
    0 0 0 white,
    120px 120px white,
    -120px 120px white,
    120px -120px white,
    -120px -120px white; /* 원하는 위치에 여러 개 찍기 */
}
