.storeDetailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.aiImgWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topIconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topIconWrapper button {
  background: white;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightIcons {
  display: flex;
  gap: 10px;
}
.placename {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1e1e1e;
}
.detailcardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  padding-top: 1rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 1rem;
}
.detailbottom {
  border-top: 1px solid #e8e8e8;
  padding: 10px;
}
.detailInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
  color: #4b4b4b;
}
.detailInfo img {
  width: 10px;
  height: 15px;
}
.mapWrapper {
  position: relative;
  width: 100%;
  min-height: 14rem;
  border-radius: 15px;
  overflow: hidden;
  background: #4b4b4b;
  margin-bottom: 5rem;
  z-index: 0;
}
.detailcate {
  background: #ef776a;
  border-radius: 20px;
  padding: 8px 18px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.mapInfo {
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #4B4B4B;
}
.mapViewBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 14px;
  background: #afafaf;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  z-index: 2;
}
