.storeDetailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.aiImgWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topIconWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.topIconWrapper button {
  background: white;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightIcons {
  display: flex;
  gap: 10px;
}
.placename {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #1e1e1e;
}
.detailcardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
  padding-top: 1rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 1rem;
}
.detailbottom {
  border-top: 1px solid #e8e8e8;
  padding: 10px;
}
.detailInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
  color: #4b4b4b;
}
.detailInfo img {
  width: 10px;
  height: 15px;
}
.mapWrapper {
  position: relative;
  width: 90%;
  min-height: 14rem;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 0;
  margin-bottom: 1.5rem;
}
.detailcate {
  background: #ef776a;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  margin-bottom: 0.5rem;
  display: inline-flex;
  white-space: nowrap;
  padding: 6px 25px;
  border: 1px solid #ef776a;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapInfo {
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #4b4b4b;
  text-align: left;
  width: 100%;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}
.mapViewBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #afafaf;
  color: #fff;
  border: none;
  z-index: 2;
  border-radius: 5px;
  padding: 4px 15px;
  font-size: 13px;
}
.detailInfo img {
  width: 15px;
  height: 15px;
}
.detailInfo a {
  color: #4b4b4b;
  text-decoration: none;
}
.detailBtn {
  position: relative;
  width: 90%;
  height: 50px;
  background: #fae100;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.detailBtn img {
  width: 100px;
}
