.adSlider {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 80px;
  touch-action: pan-y;
}

.adWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.adImage {
  flex: 0 0 100%;
  width: 100%;
  height: 80px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 8px;
}
