* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}
.appWrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(227, 227, 227);
}
.app {
  position: relative;
  max-width: 100%;
  width: 425px;
  min-height: 100dvh;
  background: linear-gradient(to bottom, #ffcdcd 0%, #fff8c4 100%);
}
.main {
  flex: 1;
  min-height: 100%;
  overflow: auto;
  min-height: 0;
}
.shopBg {
  background: linear-gradient(to bottom, #ffeec5 0%, #fce0d4 100%);
}
