* {
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.appWrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(227, 227, 227);
}
.app {
  position: relative;
  max-width: 100%;
  width: 425px;
  min-height: 100dvh;
}
.header {
  flex-shrink: 0; /* 스크롤에 영향 안 받음 */
  height: 56px;
  background: tomato;
}

.main {
  flex: 1;
  min-height: 100%;
  overflow: auto;
  min-height: 0;
}
.footer {
  flex-shrink: 0;
  height: 56px;
  background: skyblue;
}
